.c1{
    background-color: lightpink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
#d1{
    color: blue;
    font-size: 36px;
}
.c2{
    font-size: 24px;
}
#d2{
    background-color: lightgreen;
    font-size: 24px;
}